<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="bg-secondary text-light p-4 shadow-sm rounded my-3">
          <p class="text-center h1 mb-2" i18n>
            <i class="fas fa-arrow-up"></i> <br>
            Sent
          </p>
          <p class="text-center m-0" i18n>The transaction was sent successfully</p>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <div class="mb-4">
            <p class="my-0"> <strong i18n>Transaction hash:</strong></p>
          </div>
          <div class="mb-4">
            <p class="my-0"> <strong i18n>From:</strong></p>
          </div>
          <div class="mb-4">
            <p class="my-0"> <strong i18n>To:</strong></p>
          </div>
          <div class="mb-4">
            <p class="my-0"> <strong i18n>Amount:</strong></p>
          </div>
          <div class="mb-4">
            <p class="my-0"> <strong i18n>Notes:</strong></p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <div class="row">
            <div class="col-12">
              <button class="btn btn-secondary btn-block" routerLink="/main/tab-wallet/payments" i18n>Back to Payments</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
