<app-loading-modal></app-loading-modal>
<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="my-3 text-center">
          <strong class="m-0" i18n>Browser to Token ID</strong>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-secondary btn-block" routerLink="/main/tab-home" i18n>Back</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-block" (click)="redirectTo()"
                i18n>Open</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold text-danger text-center" i18n>* Required</p>
          <p class="mb-3" i18n>Token ID: <span class="text-danger">*</span></p>
          <input id="ptitle" type="text" [(ngModel)]="tokenId" class="input-icte" autofocus
            placeholder="e.g. 1">
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-modal></app-loading-modal>