<div class="container-fluid shadow-sm bg-onboard-header">
  <div class="row">
    <div class="col-12">
      <div class="onboard-header d-flex align-items-center">
        <p class="h3 my-0">
          <img class="onboard-header-icon" src="{{src}}"> {{title}}
        </p>
      </div>
    </div>
  </div>
</div>