<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold" i18n>
            Compile and Upload to IPFS
          </p>
          <p class="font-weight-bold text-center text-primary pointer" routerLink="/main/tab-home/hashbook" i18n>
            See compile transactions
          </p>

          <div class="row">
            <div class="col-4 mb-3">
              <div [routerLink]="['/main/tab-home/dev-go-compiler']"
                [queryParams]="{ smFunction: 'compilePlugin', title: 'Compile and Publish Plugin'}"
                class="bg-gray-300 p-2 rounded shadow-sm mb-2 d-flex flex-column justify-content-center align-items-center">
                <div class="h1">
                  <i class="fas fa-puzzle-piece"></i>
                </div>
                <strong class="m-0">Plugin</strong>
              </div>
            </div>

            <div class="col-4 mb-3">
              <div [routerLink]="['/main/tab-home/dev-go-compiler']"
                [queryParams]="{ smFunction: 'compilePage', title: 'Compile and Publish Page'}"
                class="bg-gray-300 p-2 rounded shadow-sm mb-2 d-flex flex-column justify-content-center align-items-center">
                <div class="h1">
                  <i class="fas fa-file"></i>
                </div>
                <strong class="m-0">Page</strong>
              </div>
            </div>

            <div class="col-4 mb-3">
              <div [routerLink]="['/main/tab-home/dev-go-compiler']"
                [queryParams]="{ smFunction: 'compileContract', title: 'Compile and Publish Contract'}"
                class="bg-gray-300 p-2 rounded shadow-sm mb-2 d-flex flex-column justify-content-center align-items-center">
                <div class="h1">
                  <i class="fas fa-file-contract"></i>
                </div>
                <strong class="m-0">Contract</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold" i18n>
            Developer tools
          </p>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/main/tab-home/dev-upload-ipfs" i18n>
              Upload to IPFS</a>
          </div>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/main/tab-home/dev-get-ipfs" i18n>
              Get from IPFS</a>
          </div>
           <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/main/tab-home/dev-sol-compiler" i18n>
              Compile Solidity Locally</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success generation -->
<div class="modal" id="successModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Success
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center mb-0" i18n>Transaction Hash:</p>
        <input class="form-control form-control-sm mt-3 mb-2" type="text" value="{{txHash}}" readonly>
        <div class="text-center text-primary" (click)="copyText(txHash)">
          <p class="m-3 pointer"><i class="far fa-copy"></i> {{copyTextTextHash}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" i18n>Confirm</div>
      <div class="modal-body">
        <p class="mb-0" i18n>
          <strong>Transaction fee:</strong> {{txLimitsData?.fee}} IEO <br>
          <strong>Gas:</strong> {{gasTransaction}} IEO <br> <br>
          <strong>Total:</strong> {{getTotal()}} IEO
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]='errors.length'
          (click)="compileAndCall()" i18n>Confirm and send</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>Error trying to generate your order, try again later.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
<app-loading-modal></app-loading-modal>