<app-loading-modal></app-loading-modal>
<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="my-3 text-center">
          <h5>Set Access Role</h5>
          <p class="m-0" i18n>TOKEN (ID)</p>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-secondary btn-block" routerLink="/main/tab-settings/options-tokens"
                i18n>Back</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-block" i18n>Apply</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold text-danger text-center" i18n>* Required</p>

          <p class="mb-0" i18n>Address: <span class="text-danger">*</span></p>
          <input id="ptitle" type="text" [(ngModel)]="address" class="input-icte mb-3" autofocus
            placeholder="e.g. 0x63493e818f0f1a00fcfc7ca8171c91bc7a9d07c4">

          <p class="mb-0" i18n>Name: <span class="text-danger">*</span></p>
          <input id="ptitle" type="text" [(ngModel)]="name" class="input-icte" autofocus placeholder="e.g. Name text">
          
          <p class="mt-3 mb-0" i18n>Role: <span class="text-danger">*</span></p>
          <div class="d-flex justify-content-between">
            <strong class="m-0">Unknown</strong>
            <button class="btn btn-sm btn-secondary" (click)="openModal('rolesModal')">Change role</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success generation -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>Error trying to generate your order, try again later.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Filter State Modal -->
<div class="modal" id="rolesModal" tabindex="-1" role="dialog" aria-labelledby="rolesModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group list-group-flush" *ngFor="let item of roles; let rowId = index">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="w-100">
              {{item}}
            </div>
            <div class="w-100 text-center">
              <i class="fas fa-check"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
<app-loading-modal></app-loading-modal>