<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="bg-secondary text-light p-4 shadow-sm rounded my-3">
        <p class="text-center h1 mb-2" i18n>
          Transaction details
        </p>
      </div>
    </div>
    <div class="col-12" *ngIf="transaction">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <p class="text-center">
          <span class="badge badge-warning" *ngIf="transaction.pending" i18n>PENDING</span>
        </p>
        <p class="mb-0"><strong i18n>Hash:</strong> <br> </p>
        <input class="form-control form-control-sm mb-2" type="text" value="{{transaction.hash}}" readonly>
        <p class="mb-2"><strong i18n>Type:</strong><br>
          {{transaction.type}}
        </p>
        <p class="mb-0"><strong i18n>From: </strong>
          <span class="float-right" *ngIf="walletData?.accounts[0].address != transaction.from">
            <span *ngIf="addressBookFrom">{{addressBookFrom}}</span>
            <span *ngIf="addressBookFrom == false" class="text-primary pointer" (click)="addAddress(transaction.from)"
              i18n><i class="fas fa-user-plus"></i>
              Add</span>
          </span>
          <span class="float-right" *ngIf="walletData?.accounts[0].address == transaction.from" i18n>You</span><br></p>
        <input class="form-control form-control-sm mb-2" type="text" value="{{transaction.from}}" readonly>
        <p class="mb-0"><strong i18n>To: </strong>
          <span class="float-right" *ngIf="walletData?.accounts[0].address != transaction.to">
            <span *ngIf="addressBookTo">{{addressBookTo}}</span>
            <span *ngIf="addressBookTo == false" class="text-primary pointer" (click)="addAddress(transaction.to)"><i
                class="fas fa-user-plus"></i>
              Add</span>
          </span>
          <span class="float-right" *ngIf="walletData?.accounts[0].address == transaction.to" i18n>You</span><br></p>
        <input class="form-control form-control-sm mb-2" type="text" value="{{transaction.to}}" readonly>
        <p class="mb-2"><strong i18n>Value:</strong><br>
          {{transaction.value / _ids.NANO | number: '1.9-9'}} IEO
        </p>
        <p class="mb-2"><strong i18n>Fee:</strong><br>
          {{transaction.fee / _ids.NANO | number: '1.9-9'}} IEO
        </p>
        <p class="mb-2"><strong i18n>Nonce:</strong><br>
          {{transaction.nonce}}
        </p>
        <p class="mb-2"><strong i18n>Date:</strong><br>
          {{transaction.timestamp | date : 'yyyy-MM-dd HH:mm:ss(SSS)'}}
        </p>
        <p class="mb-0"><strong i18n>Data:</strong> <span class="float-right text-primary pointer"
            (click)="toggleHex()">
            {{ hexCtrl ? 'Encode' : 'Decode' }}</span></p>
        <input *ngIf="!displayRfqData" class="form-control form-control-sm" type="text" value="{{txData}}" readonly>
        <div *ngIf="displayRfqData">
          <p class="text-muted m-0"><strong>Client ID: </strong> <span class="small">{{txDataProduct?.clientid}}</span>
          </p>
          <p class="text-muted m-0"><strong>Product ID: </strong> <span
              class="small">{{txDataProduct?.productid}}</span></p>
          <p class="text-muted m-0"><strong>Product Sub ID: </strong> <span
              class="small">{{txDataProduct?.productsubid}}</span></p>
          <p class="text-muted m-0"><strong>Note: </strong> <span class="small">{{txDataProduct?.note}}</span></p>
          <p class="text-muted m-0"><strong>Order Note: </strong> <span
              class="small">{{txDataProduct?.order?.note}}</span></p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-secondary btn-block" routerLink="/main/tab-wallet/payments" i18n>Back</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-block btn-primary" routerLink="/main/tab-wallet/payments/transaction-view-result" i18n>Show result</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>