<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="text-center">
            <span i18n>

              Current IEO balance:
            </span>
            <br>
            <strong class="number">{{userAccount?.available  / _ids.NANO | number: '1.9-9'}}
              <span class="text-muted">
                <i (click)="checkBalance()" *ngIf="!checkingBalance" class="fas fa-redo-alt pointer"></i>
                <i *ngIf="checkingBalance" class="fas fa-spinner fa-spin"></i>
              </span>
            </strong>
          </p>
          <div class="row">
            <div class="col-6 text-center"> <button [disabled]="checkingBalance"
                routerLink="/main/tab-wallet/payments/payments-send" class="btn btn-secondary btn-block" i18n><i
                  class="fas fa-arrow-up"></i>
                Send</button></div>
            <div class="col-6 text-center"> <button [disabled]="checkingBalance"
                routerLink="/main/tab-wallet/payments/payments-receive" class="btn btn-secondary btn-block" i18n><i
                  class="fas fa-arrow-down"></i> Receive</button></div>
          </div>
          <p class="text-primary mb-0 mt-4 text-center pointer" (click)="scroll('transactionsSection')" i18n>Transaction
            history</p>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white shadow-sm rounded mb-3">
          <div class="table-responsive">
            <table class="table table-m">
              <tbody>
                <tr>
                  <td class="td-nowrap">
                    <p class="m-0">
                      <strong i18n><img src="assets/images/address.svg" class="payments-icon"> Address:</strong>
                    </p>
                  </td>
                  <td class="w-100">
                    <p class="small text-primary m-0 pointer" (click)="copyText(userAccount?.address)">
                      {{copyTextText}}
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="td-nowrap">
                    <p class="m-0">
                      <strong i18n><img src="assets/images/avaliable.svg" class="payments-icon"> Available:</strong>
                    </p>
                  </td>
                  <td class="w-100">
                    <p class="small text-muted m-0">{{userAccount?.available / _ids.NANO | number: '1.9-9'}}</p>
                  </td>
                </tr>
                <tr>
                  <td class="td-nowrap">
                    <p class="m-0">
                      <strong i18n><img src="assets/images/locked.svg" class="payments-icon"> Locked:</strong>
                    </p>
                  </td>
                  <td class="w-100">
                    <p class="small text-muted m-0">{{userAccount?.locked / _ids.NANO | number: '1.9-9'}}</p>
                  </td>
                </tr>
                <tr>
                  <td class="td-nowrap">
                    <p class="m-0">
                      <strong i18n><img src="assets/images/transactions.svg" class="payments-icon">
                        Transactions:</strong>
                    </p>
                  </td>
                  <td class="w-100">
                    <p class="small text-muted m-0">{{userAccount?.transactionCount}}</p>
                  </td>
                </tr>
                <tr>
                  <td class="td-nowrap">
                    <p class="m-0">
                      <strong i18n><img src="assets/images/pending.svg" class="payments-icon"> Pending:</strong>
                    </p>
                  </td>
                  <td class="w-100">
                    <p class="small text-muted m-0">{{userAccount?.pendingTransactionCount}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="transactionsSection" class="col-12">
        <div class="bg-white py-4 shadow-sm rounded mb-3">
          <p class="text-center" i18n>Transaction History <br><small class="text-muted">Latest 50 transactions</small>
          </p>
          <p *ngIf="checkingBalance" class="text-center text-muted" i18n><i class="fas fa-spinner fa-spin"></i> Loading
            transactions... </p>
          <div class="table-responsive">
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <ng-container *ngFor="let tx of transactions">
                  <tr *ngIf="!tx?.pending" class="pointer" (click)="openTransactionDetails(tx)">
                    <td>
                      <p class="m-0">
                        <span class="badge badge-primary custom-badge {{tx?.type}}">{{tx?.type}}</span> <br>
                        <ng-container *ngIf="tx?.from == userAccount?.address; else inoutElseTemplate">
                          <span class="text-danger small font-weight-bold" i18n>OUT </span> - <span> To:
                            {{displayAddressName(tx?.to) }}</span>
                        </ng-container>
                        <ng-template #inoutElseTemplate>
                          <span class="text-success small font-weight-bold" i18n>IN </span> - <span> From:
                            {{ displayAddressName(tx?.from) }}</span>
                        </ng-template>
                      </p>
                    </td>
                    <td class="text-right">
                      <p class="m-0">
                        <span *ngIf="tx?.to == userAccount?.address"
                          class="text-success">+{{tx?.value / _ids.NANO | number: '1.9-9'}} IEO</span>
                        <span *ngIf="tx?.to != userAccount?.address"
                          class="text-danger">-{{tx?.value / _ids.NANO | number: '1.9-9'}} IEO</span>

                        <br>
                        <span class="small">
                          {{formatDate(tx?.timestamp)}}
                        </span>
                      </p>
                    </td>
                    <td>
                      <i class="fas fa-chevron-right"></i>
                    </td>
                  </tr>

                  <tr *ngIf="tx?.pending" class="pointer" (click)="openTransactionDetails(tx)">
                    <td>
                      <p class="m-0">
                        <span class="badge badge-primary custom-badge {{tx?.type}}">{{tx?.type}} </span> <span
                          class="font-italic text-muted" i18n>
                          Pending</span><br>
                        <span *ngIf="tx?.to == userAccount?.address">
                          <span class="text-success small font-weight-bold" i18n>IN </span> - <span class="text-muted">
                            From:
                            {{ displayAddressName(tx?.from) }}</span>
                        </span>
                        <span *ngIf="tx?.to != userAccount?.address">
                          <span class="text-danger small font-weight-bold" i18n>OUT </span> - <span class="text-muted">
                            To:
                            {{displayAddressName(tx?.to) }}</span>
                        </span>
                      </p>
                    </td>
                    <td class="text-right">
                      <p class="m-0">
                        <span *ngIf="tx?.to == userAccount?.address"
                          class="text-muted">+{{tx?.value / _ids.NANO | number: '1.9-9'}} IEO</span>
                        <span *ngIf="tx?.to != userAccount?.address"
                          class="text-muted">-{{tx?.value / _ids.NANO | number: '1.9-9'}} IEO</span>

                        <br>
                        <span class="small">
                          {{formatDate(tx?.timestamp)}}
                        </span>
                      </p>
                    </td>
                    <td>
                      <i class="fas fa-chevron-right"></i>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <div *ngIf="transactions.length == 0 && !checkingBalance">
            <p class="text-center text-muted mt-3" i18n>No transactions found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- debug modal -->
<div class="modal" id="debug" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Debug
        </h3>
      </div>
      <div class="modal-body">
        {{debug}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Error exchange modal -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>An internal error occurred.</p>
        <p class="text-center" i18n>Please try again later.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
<app-loading-modal></app-loading-modal>