<div class="d-flex mb-3">
  <span class="font-wight-bold mr-2" i18n>
    Watchlist:
  </span>
  <button class="btn btn-secondary btn-sm btn-block mr-2" (click)="openModal('modalWatchlist')">
    <span class="d-flex justify-content-between">
      <span>{{_ids.getWatchlists()[_ids.getSelectedWatchlist()].name}}</span>
      <i class="fas fa-caret-down"></i>
    </span>
  </button>
  <button class="btn btn-secondary btn-sm" routerLink="/main/tab-settings/cryptos"><i class="fas fa-cog"></i></button>
</div>

<!-- Watchlist Modal -->
<div class="modal" id="modalWatchlist" tabindex="-1" role="dialog" aria-labelledby="modalWatchlistTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group list-group-flush" *ngFor="let item of _ids.getWatchlists(); let rowId = index">
            <li *ngIf="rowId != 0" (click)="selectWatchlist(rowId)"
            class="list-group-item d-flex justify-content-between align-items-center">
            <div class="w-100">
              {{item?.name}}
            </div>
            <div class="w-100 text-center">
              <i *ngIf="_ids.getSelectedWatchlist() == rowId" class="fas fa-check"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>

  <app-loading-modal></app-loading-modal>