<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="my-3">
          <div class="text-center">
            <button class="btn btn-secondary mr-3" routerLink="/main/tab-home/dev-options" i18n>
              <i class="fas fa-user-plus"></i> Back
            </button>
            <button class="btn btn-primary" (click)="validateHash(newBook); openModal('addModal');" i18n>
              <i class="fas fa-user-plus"></i> Add new hash
            </button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white py-4 shadow-sm rounded mb-3">
          <ng-container *ngIf="hashBook.length > 0; else elseNoHashesTemplate">
            <div class="input-group input-group-sm px-4 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" class="form-control" (keyup)="filterBySearch()" [(ngModel)]="searchInput" placeholder="Search by name or hash">
              <button *ngIf="searchInput" (click)="searchInput = ''" class="btn btn-sm bg-transparent"
                style="margin-left: -30px; z-index: 100;">
                <i class="fas fa-times text-muted"></i>
              </button>
            </div>
            <div id="table-responsive" class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" i18n>Name</th>
                    <th scope="col" i18n>Hash</th>
                    <th scope="col" i18n>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let book of hashBookFiltered; let i = index">
                    <tr>
                      <td>
                        {{book.name}}
                      </td>
                      <td> <span class="text-muted">0x..{{book.hash.substr(book.hash.length-9)}}</span></td>
                      <td>
                        <div class="w-100 d-flex justify-content-center">
                          <button class="btn btn-sm btn-secondary mr-2" (click)="openResult(book.hash)">See Result</button>
                          <i class="pointer text-danger fas fa-trash-alt"
                            (click)="selectBook(book); openModal('deleteModal')"></i>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-template #elseNoHashesTemplate>
            <p class="text-center text-muted mb-4" i18n>You don't have any hash added yet.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Add
        </h3>
      </div>
      <div class="modal-body">
        <p class="mb-0">Name: </p>
        <input (click)="validateHash(newBook)" (change)="validateHash(newBook)" (keyup)="validateHash(newBook)" (blur)="validateHash(newBook)"
          class="form-control form-control-sm mb-2" type="text" [(ngModel)]="newBook.name">
        <p class="mb-0">Hash: </p>
        <input (click)="validateHash(newBook)" (change)="validateHash(newBook)" (keyup)="validateHash(newBook)"
          class="form-control form-control-sm mb-4" type="text" [(ngModel)]="newBook.hash">
        <div class="mb-4" *ngIf="errorMsgs.length > 0">
          <!-- <p class="mb-2"><strong>Remember:</strong> </p> -->
          <ng-container *ngFor="let item of errorMsgs; let i=index">
            <p class="text-danger mb-0">{{item}}.</p>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="createHash()"
            [disabled]="errorMsgs.length > 0">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Edit hash
        </h3>
      </div>
      <div class="modal-body">
        <p class="mb-0">Name: </p>
        <input class="form-control form-control-sm mb-2" type="text" [(ngModel)]="editBook.book.name">
        <p class="mb-0">Hash: </p>
        <input class="form-control form-control-sm mb-4" type="text" [(ngModel)]="editBook.book.hash">
        <div class="mb-4" *ngIf="errorMsgs.length > 0">
          <!-- <p class="mb-2"><strong>Remember:</strong> </p> -->
          <ng-container *ngFor="let item of errorMsgs; let i=index">
            <p class="text-danger mb-0">{{item}}.</p>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveEdit()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sure Modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Delete hash
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center mb-0">Are you sure you want to delete the hash:<br>
          <strong>{{selectedBook?.name}}</strong> <br>
        </p>
        <input class="form-control form-control-sm mb-2" type="text" [value]="selectedBook?.hash" readonly>
        <p class="text-center text-warning"><strong>This action cannot be reverted!</strong></p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="remove()">Contine</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-modal></app-loading-modal>