<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="my-3">
          <p class="m-0 text-center" i18n>Compile Solidity Locally</p>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-secondary btn-block" routerLink="/main/tab-home/dev-options" i18n>Back</button>
            </div>
            <div class="col-6">
              <button *ngIf="versionLoaded" class="btn btn-primary btn-block" (click)="processInWorker()"
                [disabled]="compiling || scontractCode.length == 0" i18n>{{readytoSend ? 'Deploy': 'Compile'}}</button>
              <p class="m-0 small" *ngIf="!versionLoaded"><i class="fas fa-spinner fa-spin"></i> Loading compiler</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="errors.length > 0">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold text-danger" i18n>Errors detected:</p>
          <div class="col-12 mb-4">
            <textarea name="sc" class="input-icte" id="" [(ngModel)]="errors" cols="30" rows="6" readonly></textarea>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <div class="col-12 mb-4">
            <div class="d-flex justify-content-between mb-2">
              <p class="mb-0" i18n>Smart Contract: <span class="text-danger">*</span></p>
              <div>
                <button class="btn btn-sm btn-primary" (click)="editBack()" *ngIf="inputreadOnly">Edit</button>
              </div>
            </div>
            <textarea [readonly]="inputreadOnly" name="sc" class="input-icte" id="" [(ngModel)]="scontractCode"
              cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Transaction Modal Success -->
<div class="modal" id="transactionSuccessModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Transaction sent successfully!
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center mb-0" i18n>Transaction Hash:</p>
        <input class="form-control form-control-sm mt-3 mb-2" type="text" value="{{txHash}}" readonly>
        <div class="text-center text-primary" (click)="copyText(txHash)">
          <p class="m-3 pointer"><i class="far fa-copy"></i> {{copyTextTextHash}}</p>
        </div>
        <p class="m-0 text-center" i18n>
          You will see your transaction in the Payments tab > Transaction history section, when your transaction is
          done.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" i18n>Confirm</div>
      <div class="modal-body">
        <p class="mb-0" i18n>
          <strong>Transaction fee:</strong> {{txLimitsData.fee}} IEO <br>
          <strong>Gas:</strong> {{gasTransaction}} IEO <br> <br>
          <strong>Total:</strong> {{getTotal()}} IEO
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]='errors.length'
          (click)="transfer()" i18n>Confirm and send</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>Error trying to generate your order, try again later.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
<app-loading-modal></app-loading-modal>