<app-loading-modal></app-loading-modal>
<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="my-3">
          <p class="m-0 text-center" i18n>Upload to IPFS</p>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-secondary btn-block" routerLink="/main/tab-home/dev-options" i18n>Back</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-block" (click)="compile()"
                i18n>{{readytoSend ? 'Call': 'Compile'}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold text-danger text-center" i18n>* Required</p>
          <p class="mb-3" i18n>Data: <span class="text-danger">*</span></p>
          <div class="custom-control custom-switch mb-2">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="dataType"
              (change)="changeStatus()">
            <label class="custom-control-label" for="customSwitch1">Hex</label>
          </div>
          <textarea class="input-icte" [(ngModel)]="hexadecimalCode" placeholder="Data" cols="30" rows="10"></textarea>
          <p class="mb-3" i18n>Client Order ID: <span class="text-danger">*</span></p>
          <input id="pcoid" type="number" [(ngModel)]="clientOrderId" class="input-icte" autofocus
            placeholder="Test only">
        </div>
      </div>
      <div class="col-12" *ngIf="rawCode">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="mb-3" i18n>Result:</p>
          <textarea id="ptitle" type="text" [value]="rawCode" class="input-icte" readonly></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success generation -->
<div class="modal" id="successModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Success
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center mb-0" i18n>Transaction Hash:</p>
        <input class="form-control form-control-sm mt-3 mb-2" type="text" value="{{txHash}}" readonly>
        <div class="text-center text-primary" (click)="copyText(txHash)">
          <p class="m-3 pointer"><i class="far fa-copy"></i> {{copyTextTextHash}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" i18n>Confirm</div>
      <div class="modal-body">
        <p class="mb-0" i18n>
          <strong>Transaction fee:</strong> {{txLimitsData.fee}} IEO <br>
          <strong>Gas:</strong> {{gasTransaction}} IEO <br> <br>
          <strong>Total:</strong> {{getTotal()}} IEO
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]='errors.length'
          (click)="transfer()" i18n>Confirm and send</button>
      </div>
    </div>
  </div>
</div>
<!-- Success generation -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>Error trying to generate your order, try again later.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
<app-loading-modal></app-loading-modal>