<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="text-center m-0" i18n>
            Enable or disable symbols to display in your wallet. We recommend a maximum of 30 coins enabled by watchlist
            in order
            to get
            optimum device performance.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <div class="d-flex mb-3">
            <span class="font-wight-bold mr-2" i18n>
              Watchlist:
            </span>
            <button class="btn btn-secondary btn-sm btn-block mr-2" (click)="openModal('modalWatchlist')">
              <span class="d-flex justify-content-between">
                <span>{{_ids.getWatchlists()[_ids.getSelectedWatchlist()].name}}</span>
                <i class="fas fa-caret-down"></i>
              </span>
            </button>
            <button class="btn btn-primary btn-sm" (click)="createWatchlist()"><i
                class="fas fa-plus"></i></button>
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input style="text-transform: uppercase;" type="text" class="form-control" [(ngModel)]="searchInput" placeholder="Search">
            <button *ngIf="searchInput" (click)="searchInput = ''" class="btn btn-sm bg-transparent" style="margin-left: -30px; z-index: 100;">
              <i class="fas fa-times text-muted"></i>
            </button>
          </div>
          <ul class="list-group list-group-flush" *ngFor="let row of fakeArray let rowId = index;">
            <ng-container *ngIf="filterSearch(s?.getSymbolName(rowId))">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <img class="icon-md" src="assets/svg/{{s?.getSymbolName(rowId)}}.svg">
                  {{s?.getSymbolName(rowId)}}
                </div>
                <div *ngIf="s?.isSymbolEnabled(rowId)" class="custom-control custom-switch">
                  <input (change)="toggleSymbol(rowId)" type="checkbox" class="custom-control-input"
                    [disabled]="!canDisable(rowId)" [checked]="true" id="customSwitch{{rowId}}">
                  <label class="custom-control-label" for="customSwitch{{rowId}}"></label>
                </div>
                <div *ngIf="!s?.isSymbolEnabled(rowId)" class="custom-control custom-switch">
                  <input (change)="toggleSymbol(rowId)" type="checkbox" class="custom-control-input"
                    [disabled]="!canDisable(rowId)" [checked]="false" id="customSwitch{{rowId}}">
                  <label class="custom-control-label" for="customSwitch{{rowId}}"></label>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Watchlist Modal -->
<div class="modal" id="modalWatchlist" tabindex="-1" role="dialog" aria-labelledby="modalWatchlistTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group list-group-flush" *ngFor="let item of _ids.getWatchlists(); let rowId = index">
          <li *ngIf="rowId != 0" (click)="selectWatchlist(rowId)"
            class="list-group-item d-flex justify-content-between align-items-center">
            <div class="w-100">
              {{item?.name}}
            </div>
            <div class="w-100 text-center">
              <i *ngIf="_ids.getSelectedWatchlist() == rowId" class="fas fa-check"></i>
            </div>
            <div class="w-100 text-right">
              <button *ngIf="rowId != 0" class="btn btn-sm btn-primary" (click)="editWatchlist(rowId); $event.stopPropagation()"><i class="fas fa-pencil-alt"></i></button>
              <button *ngIf="rowId != 0" class="btn btn-sm btn-danger ml-2" (click)="deleteWatchlist(rowId); $event.stopPropagation()"><i class="fas fa-trash-alt"></i></button>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Watchlist New Modal -->
<div class="modal" id="modalWatchlistNew" tabindex="-1" role="dialog" aria-labelledby="modalWatchlistNewTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <h4 i18n>New watchlist</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="watchlistName" i18n>Watchlist name:</label>
          <input type="email" [(ngModel)]="wlName" class="form-control" id="watchlistName" aria-describedby="wName"
            placeholder="e.g. Favorites">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
        <button (click)="addWatchlist()" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!(wlName.length > 0)" i18n>Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Watchlist Edit Modal -->
<div class="modal" id="modalWatchlistEdit" tabindex="-1" role="dialog" aria-labelledby="modalWatchlistEditTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <h4 i18n>Edit watchlist</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="watchlistName" i18n>Watchlist name:</label>
          <input type="email" [(ngModel)]="wlEditName" class="form-control" id="watchlistName" aria-describedby="wName" value="cool coins">
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <div>
          <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal" i18n>Close</button>
          <button (click)="saveEditWatchlist()" type="button" class="btn btn-primary" data-dismiss="modal" i18n>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-modal></app-loading-modal>
