<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <div class="text-center">
            <h3>{{token?.name}} ({{token?.id}})</h3>
            <button class="btn btn-secondary mb-3" routerLink="/main/tab-home/deployed-tokens">Back</button>
          </div>
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary btn-block {{optionsController ? 'selected-border' : ''}}"
                (click)="selectOptions(true)">Developer Options</button>
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-block {{optionsController ? '' : 'selected-border'}}"
                (click)="selectOptions(false)">Admin Options</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-group input-group-sm mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="searchInput"
                  placeholder="Search by name or address">
                <button *ngIf="searchInput" (click)="searchInput = ''" class="btn btn-sm bg-transparent"
                  style="margin-left: -30px; z-index: 100;">
                  <i class="fas fa-times text-muted"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold" i18n>
            {{selectedOptions.title}}
          </p>
          <ng-container *ngFor="let item of filterBySearch()">
            <div class="list-group list-group-flush">
              <ng-container *ngIf="item.route; else routeOrModalTemplate">
                <a class="list-group-item list-group-item-action" routerLink="{{item.route}}"
                  [queryParams]="{title: item.name, smFunction: item.queryValue}" i18n>
                  {{item.name}}</a>

              </ng-container>
              <ng-template #routeOrModalTemplate>
                <a class="list-group-item list-group-item-action" (click)="openModal(item.modal)" i18n>
                  {{item.name}}</a>
              </ng-template>

            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" i18n>Confirm</div>
      <div class="modal-body">
        <p class="mb-0" i18n>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Success generation -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>Error trying to generate your order, try again later.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Stage Modal -->
<div class="modal" id="stageModal" tabindex="-1" role="dialog" aria-labelledby="stageModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group list-group-flush" *ngFor="let item of stages; let rowId = index">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="w-100" (click)="setTransactionFuncion('setStage', rowId)">
              {{item}}
            </div>
            <div class="w-100 text-center">
              <i *ngIf="rowId == token?.stage" class="fas fa-check"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
<!--  State Modal -->
<div class="modal" id="stateModal" tabindex="-1" role="dialog" aria-labelledby="stateModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group list-group-flush" *ngFor="let item of states; let rowId = index">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="w-100" (click)="setTransactionFuncion('setState', rowId)">
              {{item}}
            </div>
            <div class="w-100 text-center">
              <i *ngIf="rowId == token?.state" class="fas fa-check"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Token Name Modal -->
<div class="modal" id="tokenNameModal" tabindex="-1" role="dialog" aria-labelledby="tokenNameModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="mb-0" i18n>Name: <span class="text-danger">*</span></p>
        <input id="ptitle" type="text" [(ngModel)]="name" class="input-icte" autofocus placeholder="e.g. Name text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary mr-2" data-dismiss="modal" (click)="setTransactionFuncion('setTokenName', name)" i18n>Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>