<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="p-4 rounded mt-2 text-center">
          <p class="text-secondary h4">Explorer stats</p>
        </div>
      </div>

      <div class="col-12">
        <div class="text-center mb-3">
          <button class="btn btn-primary" routerLink="/main/tab-wallet/">Back</button>
        </div>
      </div>

      <div class="col-12" *ngIf="error">
        <div class="mb-3">
          <div class="alert alert-danger" role="alert">
            <p class="m-0">{{error}}</p>
          </div>
          <button *ngIf="tempHide" class="btn btn-primary" (click)="fetchData()" i18n>Retry</button>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <div class="d-flex justify-content-between">
            <p class="h5 mb-0 font-weight-bold" i18n>Summary:</p>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <p class="m-0 text-primary font-weight-bold">BLOCKS HIT:</p>
            </div>
            <div class="col-6">
              <p class="m-0 text-muted">{{delegate?.turnsHit}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="m-0 text-primary font-weight-bold">BLOCK MISSED:</p>
            </div>
            <div class="col-6">
              <p class="m-0 text-muted">{{delegate?.turnsMissed}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="m-0 text-primary font-weight-bold">BALANCE:</p>
            </div>
            <div class="col-6">
              <p class="m-0 text-muted">{{delegate?.available / _ids.NANO}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="m-0 text-primary font-weight-bold">VOTES:</p>
            </div>
            <div class="col-6">
              <p class="m-0 text-muted">{{delegate?.votes / _ids.NANO}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <div class="d-flex justify-content-between">
            <p class="h5 mb-0 font-weight-bold" i18n>Network Summary:</p>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <p class="m-0 text-primary font-weight-bold">LATEST BLOCK:</p>
            </div>
            <div class="col-6">
              <p class="m-0 text-muted">{{info?.latestBlockNumber}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="m-0 text-primary font-weight-bold">PENDING TX:</p>
            </div>
            <div class="col-6">
              <p class="m-0 text-muted">{{info?.pendingTransactions}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="m-0 text-primary font-weight-bold">TOTAL BURNED:</p>
            </div>
            <div class="col-6">
              <p class="m-0 text-muted">{{info?.totalBurned / _ids.NANO}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>