<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="bg-secondary text-light p-4 shadow-sm rounded my-3">
        <p class="text-center h1 mb-2" i18n>
          Transaction result
        </p>
      </div>
    </div>
    <div class="col-12" *ngIf="fetching">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <div class="text-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="transactionResult">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <div *ngIf="transactionResult.contractAddress">
          <p class="mb-0"><strong i18n>Contract address: </strong>
            <span class="float-right"
              *ngIf="_ids.getWalletData().accounts[0].address != transactionResult.contractAddress">
              <span *ngIf="addressBookContract">{{addressBookContract}}</span>
              <span *ngIf="addressBookContract == false" class="text-primary pointer"
                (click)="addAddress(transactionResult.contractAddress)" i18n><i class="fas fa-user-plus"></i>
                Add</span>
            </span>
            <span class="float-right"
              *ngIf="_ids.getWalletData().accounts[0].address == transactionResult.contractAddress" i18n>You</span><br>
          </p>
          <input class="form-control form-control-sm mb-2" type="text" value="{{transactionResult.contractAddress}}"
            readonly>
        </div>
        <p *ngIf="transactionResult.blockNumber" class="mb-2"><strong i18n>Block number:</strong> <br>
          {{transactionResult.blockNumber}}
        </p>

        <p *ngIf="transactionResult.code" class="mb-2"><strong i18n>Code:</strong><br>
          {{transactionResult.code}}
        </p>
        <p *ngIf="transactionResult.logs && transactionResult.logs.length != 0" class="mb-2"><strong
            i18n>Logs:</strong><br>
          <textarea [value]="transactionResult.logs" class="input-icte" id="" cols="30" rows="3" readonly></textarea>
        </p>
        <p *ngIf="transactionResult.returnData" class="mb-2"><strong i18n>Return data:</strong><br>
          <textarea [value]="transactionResult.returnData" class="input-icte" id="" cols="30" rows="3"
            readonly></textarea>
        </p>
        <p *ngIf="transactionResult.gas" class="mb-2"><strong i18n>Gas:</strong><br>
          {{transactionResult.gas}}
        </p>
        <p *ngIf="transactionResult.gasPrice" class="mb-2"><strong i18n>Gas price:</strong><br>
          {{transactionResult.gasPrice}}
        </p>
        <p *ngIf="transactionResult.gasUsed" class="mb-2"><strong i18n>Gas used:</strong><br>
          {{transactionResult.gasUsed}}
        </p>
        <p *ngIf="transactionResult.fee" class="mb-2"><strong i18n>Fee:</strong><br>
          {{transactionResult.fee}}
        </p>
      </div>
    </div>

    <div class="col-12">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-secondary btn-block" routerLink="/main/tab-wallet/payments/transaction-view"
              i18n>Back</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary btn-block" routerLink="/main/tab-wallet/payments"
              i18n>Exit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>