<!-- Loading Modal -->

<div class="container-fluid">
  <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalTitle"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <div class="spinner-border text-secondary" role="status">
              <span class="sr-only" i18n>Loading...</span>
            </div>
            <p class="h4 mt-4" i18n>Please wait...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>