<ng-container *ngIf="showTabBar">
    <app-main-header [title]="'Home'"></app-main-header>
    <div *ngIf="displayHeader" class="main-sec-header bg-primary d-flex justify-content-between">
        <div class="btn-main-sec-header text-center text-light pointer" routerLink="/main/tab-products/register-main"
            routerLinkActive="btn-main-sec-header-selected" i18n>Tokens</div>
        <div class="btn-main-sec-header text-center text-light pointer" routerLink="/main/tab-products/my-requests"
            routerLinkActive="btn-main-sec-header-selected" i18n>Filter</div>
        <div class="btn-main-sec-header text-center text-light pointer" routerLink="/main/tab-products/request-list"
            routerLinkActive="btn-main-sec-header-selected" i18n>Orders</div>
    </div>
</ng-container>
<div>
    <router-outlet></router-outlet>
</div>