.logo {
    width: 250px;
}

.htu-logo {
    width: 185px;
}

.logo-footer {
    width: 50px;
    margin-bottom: 6px;
}

.icon-btn {
    width: 50px;
}

.icon-btn-2 {
    width: 45px;
}

.minh{
    min-height: 650px !important;
}