<div class="container-fluid vh-100 py-5 bg-white minh">
  <div class="d-flex flex-column justify-content-between h-100">

    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <img class="htu-logo" src="assets/images/plugin-logo.png">
        </div>
      </div>
      <div class="col-7">
        <p class="mt-5 font-weight-bold text-muted text-center">
          Customizable visual interface template for your iCTE utilities
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <div class="row">

          <div class="col-12">
            <div class="text-center p-2 pointer bg-secondary rounded shadow-sm" routerLink="/onboard/init">
              <img class="icon-btn" src="assets/images/puzzle-piece-solid.svg">
              <p class="mb-0 text-light"></p>
              <p class="h4 text-primary mt-1" i18n>Enter Token</p>
            </div>
          </div>

          <div class="col-12">
            <div class="text-center mt-4 p-2 pointer" (click)="exit()">
              <img class="icon-btn" src="assets/images/exit.svg">
              <p class="h4 text-primary mt-1" i18n>Exit</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning text-center" role="alert">
          <strong>NOTE</strong>
          <p>
            To user this web-app, you need to use the iCTE Crypto Browser.
          </p>
          <p>
            Visit <a href="https://icte.io/downloads" target="_blank" rel="noopener noreferrer">icte.io/downloads</a> to get it!
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <p>Powered by <img class="logo-footer" src="assets/images/icte-black.png"> - 1.191 Beta test-only</p>
        </div>
      </div>
    </div>

  </div>
</div>