<ng-container *ngIf="showTabBar">
    <app-main-header [title]="'Wallet'"></app-main-header>
    <div class="main-sec-header bg-primary d-flex justify-content-between">
        <div class="btn-main-sec-header text-center text-light pointer" routerLink="/main/tab-wallet/payments"
            routerLinkActive="btn-main-sec-header-selected" i18n>Payments</div>
        <div class="btn-main-sec-header text-center text-light pointer" routerLink="/main/tab-wallet/bc-status"
            routerLinkActive="btn-main-sec-header-selected" i18n>Transactions</div>
    </div>
</ng-container>
<div>
    <router-outlet></router-outlet>
</div>