<!-- Error modal -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Internal Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>Internal error. Please try again later</p>
        <p class="text-muted" i18n> {{ shouldDisplay ? 'Hide' : 'Show' }} details <i class="fas fa-chevron-down"></i></p>
        <div *ngIf="shouldDisplay" class="card">
          <div class="card-body">
            {{errorMsg}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>