<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class=" mt-3">
          <p class="font-weight-bold text-center"><span
              class="small text-muted text-truncate">{{_ids.getWalletData().accounts[0]?.address}}</span>
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold" i18n>
            Exit
          </p>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" (click)="navigateToIcteWallet()" i18n><i
                class="text-secondary fas fa-sign-out-alt"></i>
              Go back to iCTE Wallet</a>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <p class="font-weight-bold" i18n>
            Geolocation
          </p>
          <div class="list-group list-group-flush">
            <button class="list-group-item list-group-item-action" routerLink="/main/tab-settings/geolocation" i18n>
              <i class="text-secondary fas fa-map-marker-alt"></i> Set up geolocation
            </button>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <p class="font-weight-bold" i18n>
            Coins
          </p>
          <div class="list-group list-group-flush">
            <button class="list-group-item list-group-item-action" routerLink="/main/tab-settings/cryptos" i18n><i
                class="text-secondary fas fa-coins"></i> Manage
              watchlists</button>
          </div>
        </div>
      </div>
      
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <p class="font-weight-bold" i18n>
            Address Book
          </p>
          <div class="list-group list-group-flush">
            <button class="list-group-item list-group-item-action" routerLink="/main/tab-settings/addressbook" i18n>
              <i class="text-secondary fas fa-address-book"></i> Manage addresses</button>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <p class="font-weight-bold" i18n>
            Support
          </p>
          <div class="list-group list-group-flush">
            <button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#supportModal" i18n>
              <i class="text-secondary fas fa-envelope"></i> Contact us</button>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold" i18n>
            Session
          </p>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/onboard/exit" i18n><i
                class="text-secondary fas fa-sign-out-alt"></i>
              Sign out</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


<!-- Locate backup file Modal -->
<div class="modal" id="locateBackup" tabindex="-1" role="dialog" aria-labelledby="modalLanguagesTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Feature not available
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>The backup feature is under development. It will be available on the next update.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Support Modal -->
<div class="modal" id="supportModal" tabindex="-1" role="dialog" aria-labelledby="supportModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Support
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>Please direct any issues to our telegram channel <strong>@ICTEX</strong> or email us
          at
          <strong>contact@icte.io</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
