<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="p-4 rounded my-2 text-center">
          <p class="text-secondary h4" i18n>Set up geolocation</p>
        </div>
      </div>

      <div class="col-12" *ngIf="error">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <div class="alert alert-danger" role="alert">
            <strong i18n>Error:</strong> {{error}}
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="px-4 pb-4">
          <div class="custom-control custom-checkbox mb-3" *ngIf="checkStatus" (click)="changeCheckStatus()">
            <input type="checkbox" [checked]="true" class="custom-control-input" id="currentLocation1">
            <label class="custom-control-label" for="currentLocation1" i18n> Use current location</label>
          </div>
          <div class="custom-control custom-checkbox mb-3" *ngIf="!checkStatus" (click)="changeCheckStatus()">
            <input type="checkbox" [checked]="false" class="custom-control-input" id="currentLocation">
            <label class="custom-control-label" for="currentLocation" i18n> Use current location</label>
          </div>
          <div class="row">
            <div class="col">
              <p class="m-0" i18n>Latitude: <span class="text-danger">*</span></p>
              <input [disabled]="checkStatus" type="number" class="form-control" [(ngModel)]="lat"
                placeholder="97.099827">
            </div>
            <div class="col">
              <p class="m-0" i18n>Longitude: <span class="text-danger">*</span></p>
              <input [disabled]="checkStatus" type="number" class="form-control" [(ngModel)]="lon"
                placeholder="-63.992867">
            </div>
            <div class="col-12">
              <p *ngIf="closestCity" class="small text-muted my-2 text-center" i18n>Closest City:
                {{closestCity}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-secondary btn-block" routerLink="/main/tab-settings" i18n>Close</button>
            </div>
            <div class="col-6">
              <button class="btn btn-success btn-block" (click)="setCoords()" [disabled]="checkStatus"
                i18n>Apply</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="searchInput" placeholder="Search">
            <button *ngIf="searchInput" (click)="searchInput = ''" class="btn btn-sm bg-transparent"
              style="margin-left: -30px; z-index: 100;">
              <i class="fas fa-times text-muted"></i>
            </button>
          </div>
          <div class="text-center" *ngIf="fetching">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="list-group list-group-flush max-h">
            <ng-container *ngFor="let c of cities; let i=index">
              <ng-container *ngIf="filterSearch(parseCity(c))">
                <div class="list-group-item list-group-item-action" (click)="selectLocation(i)">
                  <p class="m-0">{{parseCity(c)}}</p>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-modal></app-loading-modal>
<!-- Error Modal -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>An error occurred.</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div class="modal" id="successModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Success
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>Your request is in process <br> This can take up to 5 minutes.</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            routerLink="/main/tab-settings/operator/node-list" i18n>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>