<!-- Error Country Modal -->

<div class="modal" id="errorCountryModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Unavailable service
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>Unfortunately Get-IEOs is not available in your jurisdiction</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>