<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="my-3">
          <div class="text-center">
            <p i18n>Websocket Test</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded mb-3">
          <p i18n>WebSocket Connection Config</p>
          <p class="mb-0" i18n><strong>Msg Quantity:</strong> <input type="number" [(ngModel)]="qtyMsg"></p>
          <p class="mb-0" i18n><strong>Actions: </strong>
            <button class="btn btn-secondary btn-sm" (click)="sendEchoSimpleMessage()">Echo Message (1byte)</button>
            <button class="btn btn-secondary btn-sm" (click)="sendEchoCustomMessage()">Echo Message (custom)</button>
            <button class="btn btn-secondary btn-sm" (click)="getWsBalanceMessage()">Balance Message</button>
          </p>
          <p i18n>WebSocket Connection Stats</p>
          <p class="mb-0" i18n><strong>Websocket Full URL:</strong> {{fullurl}}</p>
          <p class="mb-0" i18n><strong>Status: </strong> {{status}}</p>
          <p class="mb-0" i18n><strong>Msg counter: </strong> {{onmessageCounter}}</p>
          <p class="mb-0" i18n><strong>Last Msg ID: </strong> {{onmessageLastId}}</p>
          <p class="mb-0" i18n><strong>Last Msg Type: </strong> {{onmessageLastType}}</p>
          <p class="mb-0" i18n><strong>Last Msg SubType: </strong> {{onmessageLastSubtype}}</p>
          <p class="mb-0" i18n><strong>Last Msg Byte Length: </strong> {{onmessageLastByteLength}}</p>
          <p class="mb-0" i18n><strong>Last Msg travel time (ms): </strong> {{getBenchTime()}}</p>
          <p class="mb-0" i18n><strong>Logs:</strong> <button class="btn btn-primary btn-sm" (click)="clearLog()">Clear logs</button></p>
          <pre>{{logs}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-modal></app-loading-modal>