<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="text-center mb-4" i18n>
            Please select the benchmark you want to use or click on a symbol below to set as the benchmark
          </p>
          <button class="btn btn-secondary btn-block"
            (click)="doChange()">{{calculatorViewState && 'Change Benchmark' || 'Set Benchmark'}}
            ({{s?.getBenchmarkName()}})</button>
          <div class="row mt-4">
            <div class="col-12">
              <p class="m-0 mt-2 text-center">
                <img class="big-icon mr-1" src="assets/svg/{{s?.getBenchmarkName()}}.svg">
                <strong>Total {{s?.getBenchmarkName()}}: </strong>
                <span class="small number">
                  <!-- 234,289,347.788364729 -->
                  {{amounts?.bench | number:'1.9-9'}}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white py-4 px-0 shadow-sm rounded mb-3">
          <div class="row px-4">
            <div class="col-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input style="text-transform: uppercase;" type="text" class="form-control" [(ngModel)]="searchInput" placeholder="Search">
                <button *ngIf="searchInput" (click)="searchInput = ''" class="btn btn-sm bg-transparent"
                  style="margin-left: -30px; z-index: 100;">
                  <i class="fas fa-times text-muted"></i>
                </button>
              </div>
            </div>
            <div class="col-12">
              <app-watchlist-modal></app-watchlist-modal>
            </div>
          </div>

          <!-- main view -->
          <ng-container *ngIf="calculatorViewState == true">
            <div class="table-responsive">
              <table class="table table-m ">
                <thead>
                  <tr>
                    <th scope="col" i18n>Token</th>
                    <th scope="col" i18n>Quantity</th>
                    <th scope="col" i18n>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let row of fakeArray; let rowId = index;">
                    <ng-container *ngIf="filterSearch(s?.getSymbolName(rowId))">
                      <ng-container *ngIf="s?.getMatrixPrice(s?.getSymbolId(rowId))">
                        <ng-container *ngIf="s?.isSymbolEnabled(rowId)">
                          <tr>
                            <td class="td-nowrap">
                              <div class="d-inline-block">
                                <img class="icon-md-calc mr-1" src="assets/svg/{{s?.getSymbolName(rowId)}}.svg">
                              </div>
                              <div class="small m-0 d-inline-block">
                                <span class="font-weight-bold">
                                  {{s?.getSymbolName(rowId)}}
                                </span>
                                <br>
                                <span class="number">{{s?.getMatrixPrice(s?.getSymbolId(rowId)) | number: '1.5-5'}}</span>
                                <br>
                                <span class="text-muted small">{{s?.getBenchmarkName()}}</span>
                              </div>
                            </td>
                            <td class="td-input">
                              <input (keyup)="calculateTotals(s?.getSymbolId(rowId))"
                                (change)="calculateTotals(s?.getSymbolId(rowId))" class="form-control form-control-sm"
                                type="text" inputmode="decimal" [(ngModel)]="calculatorSymbols.qty[rowId]">
                            </td>
                            <td class="w-100">
                              <span
                                class="small text-center number">{{s?.getMatrixPrice(s?.getSymbolId(rowId)) * calculatorSymbols.qty[rowId] | number: '1.1-5'}}</span>
                            </td>
                          </tr>
                        </ng-container>
                        <ng-container *ngIf="!s?.isSymbolEnabled(rowId) && searchInput.length > 0">
                          <tr>
                            <td class="td-token">
                              <p class="small m-0">
                                <img class="icon-md" src="assets/svg/{{s?.getSymbolName(rowId)}}.svg">
                                {{s?.getSymbolName(rowId)}}</p>
                            </td>
                            <td></td>
                            <td>
                              <p class="text-primary m-0 pointer" (click)="toggleSymbol(rowId)" i18n><i
                                  class="fas fa-plus"></i> Enable</p>
                            </td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </ng-container>
          <!-- end main view -->

          <!-- select benchmark view -->
          <ng-container *ngIf="calculatorViewState == false">
            <div class="row">
              <ng-container *ngFor="let row of fakeArray; let rowId = index;">
                <ng-container *ngIf="filterSearch(s?.getOrigSymbolName(rowId))">
                  <div class="col-3 mb-3">
                    <div (click)="setBenchmark(rowId)"
                      class="bg-gray-300 {{getSelectedClass(rowId)}} p-2 rounded shadow-sm mb-2 d-flex flex-column justify-content-center align-items-center">
                      <img class="icon-md" src="assets/svg/{{s?.getOrigSymbolName(rowId)}}.svg">
                      <p class="small m-0"> {{s?.getOrigSymbolName(rowId)}}</p>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
          <!-- end select benchmark view -->

        </div>
      </div>
    </div>
  </div>
</div>