<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="bg-secondary text-light p-4 shadow-sm rounded my-3">
        <p class="text-center h1 mb-2" i18n>
          <i class="fas fa-arrow-down"></i> Receive
        </p>
        <p class="text-center m-0" i18n>Scan the QR code or share it below</p>
      </div>
    </div>
    <div class="col-12">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <div class="mb-4">
          <p class="text-center"> <strong i18n>QR Code:</strong></p>
          <div class="d-flex justify-content-center" style="height: 250px;">
            <qrcode [qrdata]="walletData.accounts[0].address" [size]="250" [level]="'H'"></qrcode>
          </div>
        </div>
        <div class="">
          <p class="m-0 text-center"> <strong i18n>Address:</strong></p>
          <input class="form-control form-control-sm" type="text" [(ngModel)]="walletData.accounts[0].address" readonly>
          <div class="text-center text-primary" (click)="copyText(walletData.accounts[0].address)">
            <p class="m-3 pointer"><i class="far fa-copy"></i> {{copyTextText}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <div class="row">
          <div class="col-12">
            <button class="btn btn-secondary btn-block" routerLink="/main/tab-wallet/payments" i18n>Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>