<div class="wrap">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12">
        <div class="bg-white p-4 shadow-sm rounded my-3">
          <p class="font-weight-bold" i18n>
            Developers tools
          </p>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/main/tab-home/dev-options" i18n>
              <i class="far fa-file-code"></i> Tools</a>
          </div>

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/main/tab-home/new-token" i18n>
              <i class="fas fa-plus-circle"></i> Create new token</a>
          </div>

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/main/tab-home/deployed-tokens" i18n>
              <i class="fas fa-edit"></i> Modify deployed tokens</a>
          </div>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/main/tab-home/browser" i18n>
              <i class="fas fa-globe"></i> Browser</a>
          </div>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/main/tab-home/transaction-test" i18n>
              <i class="fas fa-clipboard-check"></i> Transaction test</a>
          </div>

          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" routerLink="/main/tab-home/tests">
              <i class="text-secondary fas fa-bug"></i> Web socket test</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>