<div class="container-fluid vh-100 py-5 bg-white minh">
  <div class="d-flex flex-column justify-content-center h-100">

    <div class="row mb-2">
      <div class="col-12">
        <div class="text-center">
          <h4 class="mb-4" i18n>Starting application</h4>
          <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only" i18n>Loading...</span>
          </div>
          <p class="mt-4 text-muted">{{currentTask }}... <br> {{currentTaskId + 1}}/{{tasksQueue.length}}</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" *ngIf="!error" i18n>An unexpected error has occurred<br>Please try again later <br><br> <small>Failure: {{currentTask}}</small></p>
        <p class="text-center" *ngIf="error">{{error}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="backroute">Back</button>
      </div>
    </div>
  </div>
</div>


<!-- Agreement modal -->
<div class="modal" id="agreementModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="sTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="overflow-auto">
          <p class="text-center" i18n>Please note that trading and accessing the wallet interface through Interplanetary
            Crypto Token
            Exchange is not available to users with IP addresses from certain counties.
            <br>
            <br>
            <strong>
              USA, Burma, Central African Republic, Democratic Republic of Congo, Democratic People's Republic of Korea,
              Côte d'Ivoire, Cuba, Iran, Iraq, Lebanon, Liberia, Libya, Somalia, Sudan, South Sudan, Syria, Venezuela,
              Yemen or Zimbabwe.
            </strong>
            <br>
            <br>
            If you are connecting through an IP address that is blocked on our network,
            you will see the following:
          </p>
          <div class="alert alert-warning my-3 text-center" role="alert" i18n>
            <strong>NOTICE: </strong> Your Internet Address
            is blocked on our network
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" routerLink="/onboard/welcome" i18n>Back</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agreeModal()" i18n>I UNDERSTAND</button>
      </div>
    </div>
  </div>
</div>