<div class="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="my-3">
          <div class="text-center">
            <h3>Deployed Tokens</h3>
            <button class="btn btn-primary" routerLink="/main/tab-home/"> Back</button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="bg-white py-4 shadow-sm rounded mb-3 px-4">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search">
          </div>

          <div class="mt-3">
            Filters:
            <button class="btn btn-sm btn-secondary mr-3" (click)="openModal('filterStageModal')">Stage: {{getStageName()}} <i class="fas fa-sort-down"></i></button>
            <button class="btn btn-sm btn-secondary" (click)="openModal('filterStateModal')">State: {{getStateName()}} <i class="fas fa-sort-down"></i></button>
          </div>

        </div>
      </div>
      <div class="col-12">
        <div class="bg-white pb-4 shadow-sm rounded mb-3">
          <ng-container *ngIf="items.length > 0;">
            <div id="table-responsive" class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" i18n>Token</th>
                    <th scope="col" class="text-right" i18n>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let p of items; let i = index">
                    <tr *ngIf="display(i)">
                      <td class="text-primary">
                        <p class="m-0">
                          <span class="text-primary" i18n>{{p.name}} (ID: {{p.id}})</span>
                          <br>
                          <span class="text-dark"> <span class="text-{{getStateClass(p.state)}}">{{states[p.state]}}</span>
                            ({{stages[p.stage]}}) </span>
                        </p>
                      </td>
                      <td class="text-right">
                        <button class="btn btn-sm btn-secondary" (click)="setTokenAndNavigate(p)"
                          i18n>Options</button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="items.length == 0;">
            <p class="m-0 text-center text-muted" i18n>There are no deployed tokens at this moment.</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-modal></app-loading-modal>
<!-- Filter Stage Modal -->
<div class="modal" id="filterStageModal" tabindex="-1" role="dialog" aria-labelledby="filterStageModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group list-group-flush" *ngFor="let item of stages; let rowId = index">
          <li (click)="editStage(rowId)" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="w-100">
              {{item}}
            </div>
            <div class="w-100 text-center">
              <i *ngIf="isUserInStage(rowId)" class="fas fa-check"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Filter State Modal -->
<div class="modal" id="filterStateModal" tabindex="-1" role="dialog" aria-labelledby="filterStateModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group list-group-flush" *ngFor="let item of states; let rowId = index">
          <li (click)="editState(rowId)" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="w-100">
              {{item}}
            </div>
            <div class="w-100 text-center">
              <i *ngIf="isUserInState(rowId)" class="fas fa-check"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Close</button>
      </div>
    </div>
  </div>
</div>