<div>
  <router-outlet></router-outlet>
</div>
<!-- main navigation buttons -->
<ng-container *ngIf="showTabBar">
  <div class="main-tabs bg-secondary d-flex justify-content-between align-items-center">
    <div class="p-1 pt-3 btn-main-navigation text-center text-light pointer" routerLink="/main/tab-home/"
      routerLinkActive="btn-main-navigation-selected">
      <img src="assets/icte-icons/home.svg" class="icon-main-navigation"><br>
      <span i18n>
        Home
      </span>
    </div>
    <div class="p-1 pt-3 btn-main-navigation text-center text-light pointer" routerLink="/main/tab-wallet"
      routerLinkActive="btn-main-navigation-selected">
      <img src="assets/icte-icons/wallet-off.svg" class="icon-main-navigation"><br>
      <span i18n>
        Wallet
      </span>
    </div>
    <div class="p-1 pt-3 btn-main-navigation text-center text-light pointer" routerLink="/main/tab-calculator"
      routerLinkActive="btn-main-navigation-selected">
      <img src="assets/icte-icons/calculator-off.svg" class="icon-main-navigation"><br>
      <span i18n>
        Calculator
      </span>
    </div>
    <div class="p-1 pt-3 btn-main-navigation text-center text-light pointer" routerLink="/main/tab-settings"
      routerLinkActive="btn-main-navigation-selected">
      <img src="assets/icte-icons/settings-off.svg" class="icon-main-navigation"><br>
      <span i18n>
        Options
      </span>
    </div>
  </div>
</ng-container>