@import 'assets/bootstrap/scss/bootstrap.scss';

// quick vars
$action-bar-height: 85px;
$main-header-height: 55px;
$main-sec-header-height: 25px;

body {
    font-family: 'Work Sans',
        sans-serif !important;

}

// remove clear butons
input::-webkit-clear-button {
    display: none;
}

input::-ms-clear {
    display: none;
}

.number {
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
    // outline: 2px dotted rgba(1, 189, 201, 0.5);
    background-color: rgba(1, 189, 201, 0.1);
}

body {
    background: $gray-300;
}

.main-tabs {
    position: fixed;
    z-index: 2020;
    bottom: 0;
    width: 100%;
    height: $action-bar-height;
}

.onboard-header {
    min-height: 90px;
}

.bg-onboard-header {
    background: $white;
}

.main-header {
    height: $main-header-height;
}

.main-sec-header {
    height: $main-sec-header-height;
}

.btn-main-navigation {
    height: 100%;
    width: 100%;
}

.btn-main-navigation-selected {
    background: $primary;
}

.btn-main-sec-header {
    width: 100%;
}

.icon-main-navigation {
    width: 35px;
    height: 40px;
}

.btn-main-sec-header-selected {
    border-bottom: 3px solid $secondary;
}

.wrap-action {
    padding-bottom: $action-bar-height + 16px;
}

.wrap {
    padding-bottom: $action-bar-height + 16px;
}

.big-icon {
    width: 30px;
}

.big-more-icon {
    width: 80px;
}

.action-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $action-bar-height;
}

.action-bar {
    height: $action-bar-height;
}

.onboard-header-icon {
    width: 50px;
}

.input-icte {
    width: 100%;
    border: 0;
    padding: .5rem .3rem;
    border-bottom: 1px solid $primary;
    // background: $gray-300;
}

.bg-gray-300 {
    background: $gray-300;
}

// market data tables

.icon-md {
    width: 25px;
}

.vh-calc {
    min-height: calc(100% - $main-header-height);
}

.td-input {
    width: 95px;
    max-width: 95px;
    min-width: 95px;
}

.td-token {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

.pointer {
    cursor: pointer;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.td-payments {
    width: 250px;
}

.payments-icon {
    width: 29px;
}

.card-addressbook {
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.td-nowrap {
    white-space: nowrap;
}


.icon-md-calc {
    width: 40px;
    vertical-align: unset !important;
}

.text-orange {
    color: #df6f16;
}

.custom-badge {
    &.product {
        background-color: #0147c9;
    }

    &.transfer {
        background-color: #01bdc9;
    }

    &.vote {
        background-color: #28a745;
    }

    &.unvote {
        background-color: #df6f16;
    }

    &.coinbase {
        background-color: #b3b3b3;
    }

    &.delegate {
        background-color: #414042;
    }

    &.adopted {
        background-color: #28a745;
    }
}

.extra-space {
    height: 500px;
    width: 100%;
    // border: 1px solid red;
}

.pb-footer-offset {
    padding-bottom: 6rem;
}

.image-carousel-pl {
    width: 100px;
    height: 100px;
}

.log-container {
    background-color: black;
    color: white;
    max-height: 500px;
    min-height: 500px;
}

.bg-gray {
    background-color: #c9c2c0;
}

.box-code {
    border-radius: 3px;
    border: 1px solid #d5d7d8;
    background-color: #f7f7f8;
}

.list-group-item:active {
    background: rgba(0, 189, 202, 0.5);
}

.selected-border {
    border: 2px solid $secondary;
}
.selected-border:focus {
    border-color: $secondary;
}