<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="bg-secondary text-light p-4 shadow-sm rounded my-3">
        <p class="text-center h1 mb-2" i18n>
          <i class="fas fa-arrow-up"></i> Send
        </p>
        <p class="text-center m-0" i18n>Fill in the following inputs to create your transaction</p>
      </div>
    </div>
    <div class="col-12">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <div class="mb-4">
          <p id="to" class="my-0"> <strong i18n>To:</strong></p>
          <div class="d-flex align-items-center">
            <input (focus)="keyboardExtraSpace('to')" (blur)="keyboardExtraSpace()" type="text"
              (change)="validateIputs();" (keyup)="validateIputs(); filterBySearch()" [(ngModel)]="qrData"
              placeholder="IEO Address" class="input-icte" (blur)="hideList()" (focus)="showList()">
            <span class="h2 ml-2 text-primary" (click)="reqQRScan()"><i class="fas fa-qrcode"></i>
            </span>
          </div>
          <div class="position-relative">
            <div class="card shadow card-addressbook mt-2" *ngIf="displayAddressBook">
              <div class="list-group">
                <button routerLink="/main/tab-settings/addressbook" type="button"
                  class="text-center list-group-item list-group-item-action">
                  Manage address book
                </button>
                <ng-container *ngFor="let book of addressBookFiltered">
                  <button (click)="setAddress(book.address)" type="button"
                    class="list-group-item list-group-item-action">{{book.name}} <br> <span
                      class="small text-truncate">{{book.address}}</span></button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <p id="amount" class="my-0"> <strong i18n>Amount:</strong></p>
          <input (focus)="keyboardExtraSpace('amount')" (blur)="keyboardExtraSpace()" #valueInput type="number"
            inputmode="decimal" (keyup)="calculateTotal(); validateIputs()" (change)="calculateTotal(); validateIputs()"
            [(ngModel)]="amount" placeholder="0.000000000" class="input-icte">
        </div>
        <div class="mb-4">
          <p id="memo" class="my-0"> <strong i18n>Notes:</strong></p>
          <input (focus)="keyboardExtraSpace('memo')" (blur)="keyboardExtraSpace()" type="text" [(ngModel)]="sendData"
            class="input-icte" placeholder="Add some text (optional)">
        </div>
        <div class="mb-4">
          <p class="my-0"> <strong i18n>Fee:</strong> {{txLimitsData?.fee}} IEO</p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <p class="m-0 text-muted text-center" i18n>Total amount:</p>
        <p class="m-0 text-center font-weight-bold">{{total | number: '1.9-9'}} IEO</p>
      </div>
    </div>

    <div *ngIf="errorMsgs.length > 0" class="col-12">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <p class="m-0 text-center font-weight-bold text-warning" i18n>In order to continue:</p>
        <ng-container *ngFor="let error of errorMsgs">
          <p class="m-0 text-center">{{error}}</p>
        </ng-container>
      </div>
    </div>

    <div class="col-12">
      <div class="bg-white p-4 shadow-sm rounded mb-3">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-secondary btn-block" routerLink="/main/tab-wallet/payments" i18n>Back</button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary btn-block" data-toggle="modal" [disabled]='errorMsgs.length'
              data-target="#modalConfirm" i18n>Send</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="setExtraSpace" class="extra-space"></div>

  </div>
</div>

<!-- Confirm Modal -->
<div class="modal" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" i18n>Confirm</div>
      <div class="modal-body">
        <p class="text-center mb-0" i18n>
          You will send <strong>{{amount | number: '1.9-9'}}</strong> IEO to:
        </p>
        <input class="form-control form-control-sm mb-2" type="text" value="{{qrData}}" readonly>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n>Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]='errorMsgs.length'
          (click)="transfer()" i18n>Confirm and send</button>
      </div>
    </div>
  </div>
</div>
<app-loading-modal></app-loading-modal>

<!-- Transaction Modal Success -->
<div class="modal" id="transactionSuccessModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Transaction sent successfully!
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center mb-0" i18n>
          You sent <strong>{{amount | number: '1.9-9'}}</strong> IEO to:
        </p>
        <input class="form-control form-control-sm mb-4" type="text" value="{{qrData}}" readonly>
        <p class="text-center mb-0" i18n>Transaction Hash:</p>
        <input class="form-control form-control-sm mt-3 mb-2" type="text" value="{{txHash}}" readonly>
        <div class="text-center text-primary" (click)="copyText(txHash)">
          <p class="m-3 pointer"><i class="far fa-copy"></i> {{copyTextTextHash}}</p>
        </div>
        <p class="m-0 text-center" i18n>
          You will see your transaction in the Payments tab > Transaction history section, when your transaction is
          done.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='goToPayments()'
          i18n>Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Error modal -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="sTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" i18n>
          Error
        </h3>
      </div>
      <div class="modal-body">
        <p class="text-center" i18n>There is an internal error <br>Please try again later</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>